Node-RED-Flow.json
[{"id":"ece330ce.7722","type":"tab","label":"PHONEBOT","disabled":false,"info":""},{"id":"5857f2c0.c52bbc","type":"switch","z":"ece330ce.7722","name":"request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"pb-opening-hours","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":180,"wires":[["5e2d33a5.f986cc","fe2f1ccb.d573a"],["6697926a.82640c"]]},{"id":"a34344a.be741b8","type":"http in","z":"ece330ce.7722","name":"","url":"/pbhandler","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["5857f2c0.c52bbc","75e8c254.e46c9c"]]},{"id":"6697926a.82640c","type":"change","z":"ece330ce.7722","name":"Error no query defined","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"$join(['Error, no query defined for: ' , $.payload.request])","tot":"jsonata"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["8b1391cf.d4efb"]]},{"id":"8b1391cf.d4efb","type":"http response","z":"ece330ce.7722","name":"","statusCode":"","headers":{},"x":790,"y":300,"wires":[]},{"id":"f96e6da9.b3119","type":"http response","z":"ece330ce.7722","name":"","statusCode":"","headers":{},"x":790,"y":180,"wires":[]},{"id":"75e8c254.e46c9c","type":"debug","z":"ece330ce.7722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":280,"wires":[]},{"id":"5e2d33a5.f986cc","type":"function","z":"ece330ce.7722","name":"","func":"msg.payload.message = \"Wir haben von 9 bis 17 Uhr geöffnet\";\nmsg.payload.result = \"success\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["f96e6da9.b3119","c5ebb3dc.96c4"]]},{"id":"c5ebb3dc.96c4","type":"debug","z":"ece330ce.7722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":240,"wires":[]},{"id":"fe2f1ccb.d573a","type":"debug","z":"ece330ce.7722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":120,"wires":[]}]
