Node-RED-Flow.json
[{"id":"ece330ce.7722","type":"tab","label":"PHONEBOT","disabled":false,"info":""},{"id":"5857f2c0.c52bbc","type":"switch","z":"ece330ce.7722","name":"request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"pb-opening-hours","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":320,"y":180,"wires":[["5e2d33a5.f986cc"],["6697926a.82640c"]]},{"id":"a34344a.be741b8","type":"http in","z":"ece330ce.7722","name":"","url":"/pbhandler","method":"post","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["5857f2c0.c52bbc"]]},{"id":"6697926a.82640c","type":"change","z":"ece330ce.7722","name":"request not defined","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"request not defined","tot":"msg"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":300,"wires":[["8b1391cf.d4efb"]]},{"id":"8b1391cf.d4efb","type":"http response","z":"ece330ce.7722","name":"","statusCode":"","headers":{},"x":790,"y":300,"wires":[]},{"id":"f96e6da9.b3119","type":"http response","z":"ece330ce.7722","name":"","statusCode":"","headers":{},"x":790,"y":180,"wires":[]},{"id":"5e2d33a5.f986cc","type":"function","z":"ece330ce.7722","name":"prepare result","func":"msg.payload.message = \"Wir haben von 9 bis 17 Uhr geöffnet\";\nmsg.payload.result = \"success\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["f96e6da9.b3119"]]}]
