Node-RED-Flow.json
[{"id":"b7107aef.8af178","type":"tab","label":"WA","disabled":false,"info":""},{"id":"5b3b70e2.4ad9","type":"switch","z":"b7107aef.8af178","name":"request","property":"payload.request","propertyType":"msg","rules":[{"t":"eq","v":"lh-shops","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":280,"y":180,"wires":[["d9a48f85.0a58e","f0900351.4f48d"],["25e02631.d16b9a"]]},{"id":"118e5691.4a5f19","type":"http in","z":"b7107aef.8af178","name":"","url":"/wahandler","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["5b3b70e2.4ad9","7e84fd52.aaf114"]]},{"id":"25e02631.d16b9a","type":"change","z":"b7107aef.8af178","name":"Error no query defined","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"$join(['Error, no query defined for: ' , $.payload.request])","tot":"jsonata"},{"t":"set","p":"payload.result","pt":"msg","to":"error","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["75d2b144.0b0ac"]]},{"id":"75d2b144.0b0ac","type":"http response","z":"b7107aef.8af178","name":"","statusCode":"","headers":{},"x":750,"y":300,"wires":[]},{"id":"5a1cc8f0.4d4508","type":"change","z":"b7107aef.8af178","name":"Error no query defined","rules":[{"t":"set","p":"payload.message","pt":"msg","to":"hallo2","tot":"str"},{"t":"set","p":"payload.result","pt":"msg","to":"sucess","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["85d90157.39017"]]},{"id":"85d90157.39017","type":"http response","z":"b7107aef.8af178","name":"","statusCode":"","headers":{},"x":750,"y":180,"wires":[]},{"id":"7e84fd52.aaf114","type":"debug","z":"b7107aef.8af178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":280,"wires":[]},{"id":"d9a48f85.0a58e","type":"function","z":"b7107aef.8af178","name":"","func":"allShops = global.get(\"allShops\");\nlocation = msg.payload.location;\nif (location == \"Frankfurt\") {\n    message = \"Super, wir haben in \" + location + \" Unternehmen gefunden.\";\n} else {\n    message = \"Leider gibt es in \" + location + \" noch kein passendes Unternehmen\";\n}\nmsg.payload.message = message;\nmsg.payload.result = \"success\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["85d90157.39017","ccac26b0.a12e68"]]},{"id":"ccac26b0.a12e68","type":"debug","z":"b7107aef.8af178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":240,"wires":[]},{"id":"f0900351.4f48d","type":"debug","z":"b7107aef.8af178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":120,"wires":[]}]
